apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}-service
  labels:
    app: {{ project_name }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ project_name }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP