apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}-service
  labels:
    app: {{ project_name }}
spec:
  type: {% raw %}{{ .Values.service.type }}{% endraw %}
  selector:
    app: {{ project_name }}
  ports:
    - port: {% raw %}{{ .Values.service.port }}{% endraw %}
      targetPort: {% raw %}{{ .Values.service.port }}{% endraw %}
      protocol: TCP