{% for entity_name,entity in entities | items | selectattr("1.properties")-%}
pub mod {{ entity_name | snake_case }};
{% endfor -%}

use axum::Router;
use crate::app_state::AppState;

/// Returns a Router with all entity controllers merged.
pub fn routes(prefix:&str, state:AppState) -> Router {
    let router = Router::new()
        {% for entity_name,entity in entities | items -%}
        .merge({{entity_name | snake_case}}::routes())
        {% endfor -%};
    Router::new()
        .nest(prefix, router)
        .with_state(state)
}