{% if authentication=='jwt' -%}
use axum_gate::{
    cookie_template::CookieTemplate,
    prelude::{Account, Group, JsonWebToken, JwtClaims, Role},
    repositories::memory::{MemoryAccountRepository, MemorySecretRepository},
};
{% endif -%}
{{ 'use sea_orm::DatabaseConnection;' if database=='postgres' }}
{{ 'use std::sync::Arc;' if authentication=='jwt' }}

#[derive(Clone)]
pub struct AppState {
    {{ 'pub db: DatabaseConnection,' if database=='postgres' }}
    {% if authentication=='jwt' -%}
    pub account_repo: Arc<MemoryAccountRepository<Role, Group>>,
    pub secret_repo: Arc<MemorySecretRepository>,
    pub jwt_codec: Arc<JsonWebToken<JwtClaims<Account<Role, Group>>>>,
    pub cookie_template: CookieTemplate,
    {% endif -%}
}