mod app_state;
{% if protocol=='rest' and crudcrate==false -%}
mod controllers;
{% endif -%}
{% if database=='postgres' -%}
mod models;
{% endif -%}
mod services;
mod server;


#[tokio::main]
async fn main() -> Result<(), Box<dyn std::error::Error>> {
    server::run().await
}